<nav class="main-menu">
   
    <a href="#" class="main-menu__item active">
        <div class="main-menu__item--top">HOMEP AGE</div>
        <div class="main-menu__item--bottom"><p>HOME</p>
            <i class="fas fa-home size:7x"></i>
        </div>
        <!-- <div class="main-menu__sab-menu">1111</div>  -->
    </a>
    <a href="#" class="main-menu__item">
            <div class="main-menu__item--top">WHO ARE YOU ?</div>
            <div class="main-menu__item--bottom">ABOUT</div>
        </a>
        <a href="#" class="main-menu__item">
                <div class="main-menu__item--top">MY PORTFOLIO</div>
                <div class="main-menu__item--bottom">PROJECT</div>
            </a>
            <a href="#" class="main-menu__item">
                    <div class="main-menu__item--top">LATES NEWS</div>
                    <div class="main-menu__item--bottom">BLOG</div>
                </a>
                <a href="#" class="main-menu__item">
                        <div class="main-menu__item--top">GET IN TOUCH</div>
                        <div class="main-menu__item--bottom">CONTACT</div>
                    </a>
                                            
</nav>