<div class="header">
<!-- <nav class="main-menu"> -->

    <div class="header-item child"><a href="#"></i>Blitz</a></div>               <!--   <i class="fa fa-"></i>    для иконок-->
    <div class="header-item"><a href="#">HOMEPAGE <br>HOME</a></div>
    <div class="header-item"><a href="#">WHO ARE WE? <br>ABOUT</a></div>
    <div class="header-item"><a href="#">MY PORTFOLIO <br>PROJECT</a></div>
    <div class="header-item"><a href="#">LATEST NEWS <br>BLOG</a></div>
    <div class="header-item"><a href="#">GET IN TOUCH <br>CONTACT</a></div>

</div>