<nav class="main-menu">   
    <a href="#" class="main-menu__item active">
        <div class="main-menu__item--top"><p>HOMEP AGE</p></div>
        <div class="main-menu__item--bottom"><p>HOME</p></div>
    </a>
     <!-- <div class="main-menu__sab-menu">1111</div>  
        <i class="fas fa-home size:7x"></i>
        -->
    <a href="#" class="main-menu__item">
            <div class="main-menu__item--top"><span>WHO ARE YOU ?</span></div>
            <div class="main-menu__item--bottom">ABOUT</div>
        </a>
        <a href="#" class="main-menu__item">
                <div class="main-menu__item--top">MY PORTFOLIO</div>
                <div class="main-menu__item--bottom">PROJECT</div>
            </a>
            <a href="#" class="main-menu__item">
                    <div class="main-menu__item--top">LATES NEWS</div>
                    <div class="main-menu__item--bottom">BLOG</div>
                </a>
                <a href="#" class="main-menu__item">
                        <div class="main-menu__item--top">GET IN TOUCH</div>
                        <div class="main-menu__item--bottom">CONTACT</div>
                    </a>
                                            
</nav>