.header{
    outline: 2px solid green;
    height: 120px;
    margin: 10px;
    position: relative;
    display: flex;
    justify-content: center;
}
.header-item{
    width: 100px;
    height: 100px;
    outline: 2px solid red;
    margin:5px;
    //align-self: center; будет менять вверх и вниз
    position: absolute;
}
.child{
    left: 30px;
}
