<div class="product-item__previews">
  
<div class="product-preview">
        <img class="product-item__previews-img" src="./img/nike.jpg" alt="">
            <div class="product-preview--big">
                    <img class="product-item__previews-img" src="./img/nike.jpg" alt="">
            </div>
</div>
<div class="product-preview">
        <img class="product-item__previews-img" src="./img/nike.jpg" alt="">
            <div class="product-preview--big">
                    <img class="product-item__previews-img" src="./img/nike.jpg" alt="">
            </div>
</div>
<div class="product-preview">
        <img class="product-item__previews-img" src="./img/nike.jpg" alt="">
            <div class="product-preview--big">
                    <img class="product-item__previews-img" src="./img/nike.jpg" alt="">
            </div>
</div>



</div>