.contener{
    outline: 5px dotted red;
    position: absolute;
    margin:  5%;
    width: 1000px;
}
.left-nav, .right-nav, .main-content{
display: inline-block;
border: 5px solid rgb(21, 255, 0);

background-color:violet;
}
//.main-content{
  //  width: calc(100%-400px);}


.left-nav, .right-nav{
    width: 200px;
    
    
    float: left;
}
.item{
    height: 200px;
}

